a.matchMvp {
  @include media-breakpoint-up('sm') {
    padding: 15px 0;
    }
  color: $dark-green;
  > div:nth-child(2) {
    p {
      font-weight: 700;
    }
  }
}
a.matchMvpCaliente {
  @include media-breakpoint-up('sm') {
    padding: 15px 0px 4px 0px;
    }
  color: $dark-green;
  > div:nth-child(2) {
    p {
      font-weight: 700;
    }
  }
}
a.match {
  border-bottom: 1px solid $white-grey;
  @include media-breakpoint-up('md') {
    flex-flow: wrap;
  }
  > div:first-child {
    > div {
      @include media-breakpoint-up('sm') {
        max-width: 180px;
      }
      @include media-breakpoint-up('md') {
        max-width: 190px;
      }
    }
  }

  &.matchNoTabs {
    > div:first-child {
      > div {
        @include media-breakpoint-up('md') {
          max-width: 160px;
        }
      }
    }
  }
}

a.matchCaliente {
  @include media-breakpoint-up('md') {
    flex-flow: wrap;
  }
  > div:first-child {
    > div {
      @include media-breakpoint-up('sm') {
        max-width: 180px;
      }
      @include media-breakpoint-up('md') {
        max-width: 190px;
      }
    }
  }

  &.matchNoTabs {
    > div:first-child {
      > div {
        @include media-breakpoint-up('md') {
          max-width: 160px;
        }
      }
    }
  }
}

.message, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: rem(14px);
}

p.headline {
  display: block;
  border-bottom: 1px solid $white-grey;
  font-size: rem(14px);
  font-weight: 700;
  margin-top: 24px;
  padding-left: 8px;
  padding-bottom: 8px;

  @include media-breakpoint-up('sm') {
    font-size: rem(16px);
    margin-top: 49px;
  }
}
p.headlineOld {
  color: $grey-black;
}
p.headlineMvp {
  color: $deep-sea;
  font-size: rem(14px);
  @include media-breakpoint-up('md') {
    font-size: rem(16px);
    font-weight: 400;
  }
}
.caliente {
  padding: 4px 8px 4px 8px;
  margin: 6px 16px 16px 16px;
  width: fit-content;
  @include media-breakpoint-up('md') {
    margin-top: 12px;
  }
}
.calienteContainer {
  display: flex;
  justify-content: initial;
  width: 51%;
  @include media-breakpoint-up('sm') {
    justify-content: center;
    padding-left: 15px;
    padding-right: 10px;
  }
  @media (min-width: 1441px) {
    justify-content: center;
    padding-left: 31px;
    padding-right: 16px;
  }
}
.calienteWrap {
  border-bottom: 1px solid $white-grey;
}
