.promoItem {
  width: 100%;

  @include media-breakpoint-up('sm') {
  }
}

.wrapper {
  height: 80vh;
}

@include media-breakpoint-down('xs') {
  .carousel {
    margin: 0 -20px;
  }
  .mask {
    padding-left: 20px;
    padding-right: 20px;
  }
}
