{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": ".storybook/webpack.config.js"
      }
    }
  },
  "plugins": [
    "better-styled-components",
    "import",
    "react",
    "babel",
    "react-hooks"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed", {
      "requireForBlockBody": true
    }],
    "arrow-body-style": "off",
    "better-styled-components/sort-declarations-alphabetically": "error",
    "no-async-promise-executor": "off",
    "no-console": "error",
    "no-restricted-imports": ["error", { "patterns": ["@univision/*/src/*"] }],
    "no-useless-catch": "off",
    "no-unused-vars": "off",
    "prefer-object-spread": "off",
    "react/state-in-constructor": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-fragments": "off",
    "react/no-array-index-key": "warn",
    "react/prefer-stateless-function": "warn",
    "react/require-default-props": "off",
    "max-classes-per-file": "off",
    "no-mixed-operators": "off",
    "space-before-function-paren": "off",
    "import/no-cycle": 1,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "**/*.stories.js",
        "**/*.spec.js",
        "**/__tests__/**",
        "**/__mocks__/**",
        ".storybook/**/*.js",
        "./*.config.js",
        "./config/**/*.js",
        "**/graphql-services/scripts/**"
      ]
    }],
    "import/extensions": "off",
    "comma-dangle": ["error", "always-multiline"],
    "react/button-has-type": "off",
    "react/jsx-one-expression-per-line": "off",
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": true
      }
    }],
    "valid-jsdoc": ["error", {
      "prefer": {
        "arg": "param",
        "argument": "param",
        "class": "constructor",
        "return": "returns",
        "virtual": "abstract"
      },
      "preferType": {
        "Boolean": "boolean",
        "Number": "number",
        "object": "Object",
        "String": "string",
        "node": "Node"
      },
      "requireReturn": false,
      "requireReturnType": true,
      "matchDescription": ".+",
      "requireParamDescription": true,
      "requireReturnDescription": false
    }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/sort-comp": "off",
    "react/static-property-placement": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "no-unused-expressions": "off",
    "babel/no-unused-expressions": "error",
    "babel/valid-typeof": "error",
    "template-curly-spacing" : "off",
    "indent": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "jasmine": true
  }
}
