div.playlistOuter {
  position: relative;
  display: none;

  &.horizontal {
    display: block;
    margin-top: 8px;
    margin-left: 10px;
    padding-right: 0;

    @include media-breakpoint-up('md') {
      margin-top: 15px;
      margin-left: 0;
      padding-right: 5px;

      .componentClass {
        max-width: 195px;

        &:first-child {
          margin-left: auto;
        }

        &:last-child {
          margin-right: auto;
        }
      }
    }

    &:after {
      height: 1px;
      background-image: none;
      background-color: $grey;
    }

    .arrowLeft button {
      background: none;
      transform: scale(0.8) translate(-15%, -33%);
    }

    .arrowRight button {
      background: none;
      transform: scale(0.8) translate(15%, -33%);
    }
  }

  @include media-breakpoint-up('md') {
    display: block;
  }
}

.loadMore {
  width: 100%;
}

.playlistInner {
  max-height: 530px;
  overflow: auto;
  margin: 0;
  @include media-breakpoint-up('lg') {
    max-height: 580px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px; // vertical scrollbar
    height: 6px; // horizontal scrollbar
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $grey;
  }
}

.videoCardContainer {
  @include media-breakpoint-up('md') {
    padding: 0;
  }
}

.playlist {
  .playlistArrow {
    // maintain height/width aspect ratio of button so it's
    // only displayed ontop of the carousel image.
    padding-top: 26.6%;
    bottom: inherit;

    &:after {
      margin-top: 0;
      transform: translateY(-50%) rotate(-135deg);
    }

    &:last-child {
      &:after {
        transform: translateY(-50%) rotate(45deg);
        margin-left: -15px;
      }
    }

    @include media-breakpoint-only('sm') {
      padding-top: 17.2%;
      &:first-child {
        left: 8px;
      }
      &:last-child {
        right: 8px;
      }
    }
  }
}
