.ingredientsBox {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: $zindex-above-navigation;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    @include media-breakpoint-up('md') {
        display: none;
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}

.ingredients {
    p {
        font-size: rem(11);
        margin-bottom: 10px;
        line-height: 1.4;
        text-transform: uppercase;
        color: $black;
        &:before {
            content: "";
            display: inline-block;
            width: 4px;
            height: 4px;
            background: $black;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}
