.container {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  .link {
    background: $black;
    &.light {
      background: $white;
    }
  }
}

.imageWrapper {
  padding-bottom: 56.25%;
  position: relative;

  .backgroundImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &Icon {
    padding: 10px;
    @include media-breakpoint-up('md') {
      display: none;
    }
  }
}

.imageDuration {
  @include media-breakpoint-up('md') {
    display: none;
  }
}

.longform{
  margin-top: 5px;
  background: $white-grey;
  color: $black;
}

.textContainer {
  display: flex;
}

.textWrapper {
  color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px calc($grid-margin-width / -2);
  text-align: left;

  &.hasAutoPlayControls {
    padding: 16px calc($grid-margin-width / -2) $grid-margin-width 16px;
  }

  @include media-breakpoint-up('md') {
    padding: 16px $grid-gutter-width;

    &.hasAutoPlayControls {
      padding: 16px $grid-gutter-width 48px $grid-gutter-width;
    }
  }

  .light &{
    color: $black-grey;
  }

  .icon {
    display: none;

    @include media-breakpoint-up('md') {
      display: flex;
      margin: 7px 14px 30px 0;
    }
  }

  .title {
    margin-bottom: 8px;
  }

  .description {
    margin-bottom: 8px;
    @include media-breakpoint-up('lg') {
      margin-bottom: 16px;
    }
  }

  .author {
    span {
      color: $grey;
    }
  }

  .duration {
    color: $white;
    font-size: rem(13px);
    font-weight: 700;
    padding: 0;
    background: transparent;
  }

  &End {
    display: flex;
    align-items: center;
    > :before {
      content: "";
      border-left: 1px solid $grey;
      margin: 0 8px;
      font-size: 9px;
      line-height: 9px;
    }
    > :first-child:before {
      display: none;
    }
  }
}
