DEPLOY_TIMEOUT=1800
DOCKERFILE=('Dockerfile')
DOCKERTAG="${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}"
EXTERNAL_REGISTRY_BASE_DOMAIN=626604290616.dkr.ecr.us-east-1.amazonaws.com
HELM_CHARTS=('charts/univision-fe')
HELM_RELEASE_NAMES=('univision-fe-qa')
HELM_TIMEOUTS=('3600s')
HELM_VALUES=('values/qa')
NAMESPACE='qa'
POLL_TRIES=1000
REPOSITORY_NAME='prod-univision-fe-k8s'
AWS_SECRETS=('k8s/univision-fe')
EXTERNAL_SECRETS_K8S_NAME='univision-fe'
DISABLE_HELM_2_DETECTION=true
