.wrapper {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex: 1 1 50%;
  text-align: left;
  padding: 13px 0;

  @include media-breakpoint-up("lg") {
    flex-direction: column;
    flex: 1 1 25%;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    margin: 0;
    color: $white;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    &:hover, &:active {
      color: $grey;
    }
  }

  &.light a {
    color: $black-grey;
  }
}

.imageCont {
  text-align: center;

  @include media-breakpoint-up("sm") {
    text-align: end;
    align-self: flex-end;
  }
}

.textCont {
  line-height: 12px;
  margin-left: 16px;
  margin-top: 7px;
  text-align: left;
  @include media-breakpoint-up("sm") {
    margin-left: 10px;
    margin-top: 0;
    align-self: center;
    text-align: start;
    width: 60%;
  }
}
