.tvGuidePlaceholder {
  border-bottom: 1px solid $light-grey;
  max-width: 1260px;
  margin: 0 auto;    
  width: 100%;
  display: flex;
  flex-direction: row;
}

.skeletonTVSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  @include media-breakpoint-up("sm") {
    width: 18%;
  }
}

.skeletonTVSquare div {
  height: 12px;
  background: $very-light-grey;
  width: 60%;
  @include media-breakpoint-up("sm") {
    width: 35%;
  }
}

.cardTVWrapper {
  border-left: 1px solid $very-light-grey;
  border-right: 1px solid $very-light-grey;
  width: 64%; 
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up("sm") {
    padding: 0 2%;
    width: 64%; 
  }
}
