.topWrapper {
  padding: 0 10px;
  border-bottom: 0;

  &.light {
    background-color: $white;
  }
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1.5rem 10px;
  border-bottom: 1px solid $dark-eclipse;

  .linksWrapper {
    display: none;
  }

  @include media-breakpoint-up('sm') {
    flex-direction: row;
    margin-bottom: 0;
    border-bottom: 0;

    .linksWrapper {
      display: inline-flex;
    }
  }

  &.light {
    border-bottom: 1px solid $white-grey;
  }
}

.logo {
  height: 28px;
  width: 160px;
  margin-bottom: 2rem;

  @include media-breakpoint-up('sm') {
    margin-bottom: 0;
  }
}

.logoActions {
  display: flex;
  flex-direction: column;
  align-items: center;

  .linksWrapper{
    display: flex;
  }

  .networks {
    margin: 0 0 2rem;
  }

  @include media-breakpoint-up('sm') {
    flex-direction: row;

    > :first-child {
      margin-right: 1.5rem;
    }

    .linksWrapper {
      display: none;
    }
  }
}


.networks {
  a:not(:last-child) {
    margin-right: 2.5rem;
  }

  @include media-breakpoint-up('sm') {
    a:not(:last-child) {
      margin-right: 2.25rem;
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up('sm') {
    padding: 1.5rem 10px 3rem;
  }

  @include media-breakpoint-up('md') {
    padding: 1.5rem 0 3rem;
  }
}

.apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
  padding-right: 10px;
  padding-bottom: 1.5rem;
  padding-left: 10px;
  border-bottom: 1px solid $dark-eclipse;

  > * {
    flex: 0 1 33%;
  }

  &.light {
    border-color: $white-grey;
  }

  @include media-breakpoint-up('xs') {
    padding-right: 0;
    padding-left: 0;
  }

  @include media-breakpoint-up('md') {
    margin-bottom: 0;
    border-bottom: 0;

    &.light {
      border-right: 1px solid $light-grey;
    }

    & > * {
      flex: 0 1 33%;
    }
  }
}


.aboutTitle {
  @include media-breakpoint-up('md') {
    text-align: right;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 14px;
  line-height: 31px;
  padding-left: 30px;
  @include media-breakpoint-up('md') {
    padding: 0;
  }

  .link {
    display: flex;
    align-items: center;
    font-size: rem(13px);
    line-height: rem(31px);

    @include media-breakpoint-up('md') {
      padding-left: 1rem;
    }
  }
}

.mainLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin-bottom: rem(11px);
  color: $white;
  font-size: rem(16px);
  line-height: rem(15px);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 700;
  border-bottom: 1px solid $dark-eclipse;
  padding-bottom: 2rem;
  & > * {
    flex: 0 1 50%;
  }
  @include media-breakpoint-up('md') {
    padding: 0;
    border-bottom: 0;
    & > * {
      flex: none;
    }
  }

  .link {
    display: flex;
    align-items: center;
    font-size: rem(13px);
    line-height: rem(31px);
    justify-content: center;

    @include media-breakpoint-up('md') {
      padding-left: 1rem;
    }
  }
}

.general {
  padding-bottom: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
    border-bottom: 1px solid $darker-grey;
  }

  &.light {
    border-color: $light-grey;
  }

  @include media-breakpoint-up('md') {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.local {
  margin-bottom: 2rem;

  @include media-breakpoint-up('md') {
    margin-bottom: 0;
  }
}

.general,
.local {
  width: 100%;
  column-count: 2;

  @include media-breakpoint-up('md') {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 0;
    column-count: 1;
  }
}

.openLink {
  color: $white;
  font-size: rem(12px);
  line-height: rem(24px);
  text-transform: uppercase;
  text-align: left;
}

.appsWrapper,
.info {
  padding: 0;
  @include media-breakpoint-up('xs') {
    padding: 0;
  }
}

.infoMX {
  background-color: $dark-green;
  @include media-breakpoint-up('xs') {
    padding: 0;
  }
}

.otherLinks {
  @include make-col(12);
  margin-bottom: 2rem;

  @include media-breakpoint-up('sm') {
    @include make-col(2);
    text-align: left;

    &:nth-of-type(3) {
      @include make-col-offset(1);
    }
  }

  &.title {
    text-align: left;
  }
}

.otherLinksColumns {
  column-count: 2;

  @include media-breakpoint-up('sm') {
    column-count: initial;
  }
}

.noBottomSpace {
  @include make-col(6);

  @include media-breakpoint-up('sm') {
    @include make-col(2);
  }
}

.topSpace {
  margin-top: 1.6rem;
  @include make-col(6);

  @include media-breakpoint-up('sm') {
    @include make-col(2);
  }
}

.linksWrapper {
  @include media-breakpoint-up('sm') {
    display: inline-flex;
  }
}

.internalTitle {
  margin-bottom: 0;
  font-size: rem(12px);
  line-height: rem(24px);
  text-align: left;

  > a {
    font-size: inherit;
    line-height: inherit;
  }
}

.vixBannerContainer {
  padding: 24px 10px 0px;
}
