.containerShop {
  align-self: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.Shop {
  border: none;
  border-radius: 4px;
  height: 24px;
  min-height: 24px;
  min-width: 66px;
  width: 100%;
  margin: 0;
  padding: 0 7px 0 3px;
  justify-content: center;

  span {
    padding-top: 1px;
    font-family: 'Roboto Condensed', Roboto, sans-serif;
    font-size: rem(10px);
    letter-spacing: rem(0.75px);
    line-height: rem(12px);
  }
  svg {
      height: 14px;
      width: 14px;
  }
  &Btn {
    border: none;
    height: 100%;
    padding: 0;
    @include media-breakpoint-up('md') {
      padding: 0;
    }
  }
}
