:global(.uvs-ad-full-width) + .container {
  margin-top: 40px;
}

.container {
  @include uvs-font('b', 'regular');

  margin: 0 0 40px;
  padding-left: 26px;
  padding-right: 26px;
  -webkit-font-smoothing: antialiased;
  font-size: rem(18px);
  line-height: rem(26px);

  @include media-breakpoint-up('sm') {
    margin: 0 20px 40px;
  }

  @include media-breakpoint-up('md') {
    margin: 0 0 40px;
    padding-right: 0;
  }

  &.isPinned {
    padding: 0 20px;
    margin-right: 0;
    margin-left: 0;
    border-left: none;

    @include media-breakpoint-up('sm') {
      padding: 0 20px;
    }

    @include media-breakpoint-up('md') {
      padding: 0;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    @include uvs-font('a', 'bold');
  }

  h2,
  h3,
  h4,
  h5,
  p {
    margin-bottom: 16px;
  }

  h2 {
    font-size: rem(24px);
    line-height: rem(29px);

    @include media-breakpoint-up('md') {
      font-size: rem(28px);
      line-height: rem(32px);
    }
  }

  h3 {
    font-size: rem(22px);
    line-height: rem(37px);

    @include media-breakpoint-up('md') {
      font-size: rem(24px);
      line-height: rem(41px);
    }
  }

  h4 {
    font-size: rem(20px);
    line-height: rem(34px);

    @include media-breakpoint-up('md') {
      font-size: rem(22px);
      line-height: rem(37px);
    }
  }

  h5 {
    font-size: rem(18px);
    line-height: rem(31px);

    @include media-breakpoint-up('md') {
      font-size: rem(20px);
      line-height: rem(25px);
    }
  }

  .postChunksWrapper .postChunk {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;

  @include media-breakpoint-up('sm') {
    flex-wrap: nowrap;
  }
}

.pinnedWrapper {
  display: flex;
  align-items: center;
  width: 100%;

  @include media-breakpoint-up('sm') {
    width: auto;
  }
}

.pin {
  height: 26px;
  width: 26px;
  margin-right: 8px;
  border-radius: 13px;
  line-height: 22px;
  text-align: center;
  path {
    fill: $white;
  }
}

.pinned {
  font-size: rem(11px);
  margin-right: 16px;
  text-transform: uppercase;
}

.time {
  @include uvs-font('a', 'regular');

  display: flex;
  flex-direction: column;
  font-size: rem(11px);
  line-height: rem(13px);

  .plain {
    margin-bottom: 0;
  }
}

.timeago {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  margin-bottom: 8px;

  time {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &.isPinned {
    border-bottom: 1px solid red;

    .border {
      opacity: 0;
    }
  }
}

.border {
  width: 40px;
  margin-top: 8px;
  border-bottom: 1px solid transparent;
}

.pinnedTime {
  flex-direction: row;
  align-items: center;

  .timeago {
    margin-right: 8px;
    margin-bottom: 0;
  }

  .plain {
    color: $grey;
  }
}

.title {
  margin-bottom: 16px;
  font-size: rem(22px);
  line-height: rem(26px);

  @include media-breakpoint-up('sm') {
    font-size: rem(32px);
    line-height: rem(38px);
  }
}

.metaWrapper {
  margin-bottom: 16px;
}

.sharingBar {
  body & {
    margin-top: 16px;

    // Fix for weird line height on icons
    > div:nth-child(2) {
      @include uvs-font('a', 'regular');
    }
  }
}
