.item {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  opacity: .1;
  &:first-child {
    opacity: .03;
  }
  &:nth-child(2) {
    opacity: .05
  }

  &, &.horizontal {
    .thumbnail {
      position: relative;
      display: table-cell;
    }

    .title {
      display: table;
      width: 100%;
    }
  }

  &.horizontal {
    display: inline-block;
    width: 164px;
    padding-right: 5px;
    margin: 5px 5px 0 9px;

    @include media-breakpoint-up('sm') {
      padding-right: 0;
      margin: 5px 24px 0 0;
    }

    @include media-breakpoint-up('md') {
      margin-right: 24px;
      margin-left: 0;
      width: 190px;
      padding-right: 5px;
    }

    .thumbnail {
      width: 190px;
    }

    .title {
      padding-left: 0;
      margin-top: 3px;
    }

    &:first-child,
    &:nth-child(2) {
      opacity: .1;
    }
    &:nth-child(4) {
      margin-right: 0;
    }
    &:nth-child(n+5) {
      display: none;
    }
  }

  @include media-breakpoint-only('sm') {
      display: inline-block;
      width: 180px;
      padding-right: 10px;
      &:first-child,
      &:nth-child(2) {
        opacity: .1;
      }
  }

  @include media-breakpoint-only('sm') {
    &:nth-child(n+5) {
      display: none;
    }
  }
  @include media-breakpoint-only('md') {
    &:nth-child(n+4) {
      display: none;
    }
  }
}

.thumbnail {
  width: 160px;

  @include media-breakpoint-up('sm') {
    display: block;
    width: 100%;
  }
  @include media-breakpoint-up('lg') {
    display: table-cell;
    width: 160px;
  }
}

.img {
  background-color: $grey;
  width: 100%;
  height: 90px;
  display: block;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 1px #000);
}

.title {
  padding-left: 10px;

  @include media-breakpoint-up('sm') {
    padding-left: 0;
    margin-top: 5px;
  }
  @include media-breakpoint-up('lg') {
    margin-top: 0;
    padding-left: 10px;
  }
}

.line {
  background-color: $grey;
  width: 100%;
  height: 18px;
  margin-bottom: 4px;
  &:last-child {
    width: 50%;
  }
}
