// Animation
@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera */

.blink {
    display: inline-block;
    vertical-align: middle;
    a > & .liveIcon{
      margin: -4px 0 -3px;
    }
    .liveIcon {
        -moz-transition:all 0.5s ease-in-out;
        -webkit-transition:all 0.5s ease-in-out;
        -o-transition:all 0.5s ease-in-out;
        -ms-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
        -moz-animation:blink normal 1.5s infinite ease-in-out; /* Firefox */
        -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
        -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
        animation:blink normal 1.5s infinite ease-in-out; /* Opera */
    }
}
