.container {
  margin: 0;
  margin-top: 0!important;
  position: relative;
  display: inline-block;
  left: initial;
  right: initial;
  height: auto;
  width: 100%;
}

.error {
  width: 100%;
  text-align: center;
}
